




@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Fjalla+One&family=Grenze+Gotisch:wght@300&family=Lobster&family=Merienda+One&family=Roboto&family=Teko&family=Wallpoet&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Aldrich', sans-serif;

    /* font-family: 'Roboto', sans-serif; */
}

:root{
    --bodyBgcolor:rgb(19, 20, 22);
    --textColorbl: black;
    --textcolorwh:white;
    --box-shadow:rgb(199, 199, 199);
    --logoColor: rgb(5, 5, 5);
    --navbarColor: rgb(6, 212, 168);
    --iconColor:gray;
    --section-bg:rgba(63, 63, 63, 0.068);
}


.border{
    border: solid 1px black;  
}


.container{
    max-width: 1150px;
    margin: 0 auto;
    width: 95%;
}

body{
    background-color: var(--bodyBgcolor);
}

header{
    width: 100%;
    /* background: url("/IMGE/bg2.jpg"); */
    height: 80vh;
    background-image:
    linear-gradient(to bottom, #0c383685, rgba(7, 6, 7, 0.73)),
    url('/IMGE/bg2.jpg');
    background-repeat: no-repeat;
    /* border: solid red; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

   
}

a{
    text-decoration: none;
}
.logo h2{
    color: var(--logoColor);
    font-size: 27px;
    font-family: 'Wallpoet', cursive;
}

li{
    list-style: none;
}

.navbar{
    width: 100%;
    background-color: var(--navbarColor);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 333;
    
}

.nav-content{
    height: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}


.nav-ul{
    /* display: flex; */
    gap: 15px;
    display: none;
}

.nav-ul a{
    padding: 10px;
    /* border: solid; */
    color: var(--textcolorwh);
    font-weight: 600;
    font-size: 18px;
    transition: all .2s;
    border-radius: 5px;
}

.nav-ul a:hover{
    background-color: rgba(18, 20, 20, 0.459);

}

.nav-ul a  i{
    font-size: 20px;
}

.fa-bars{
    font-size: 20px;
    color: var(--textcolorwh);
    /* border: solid; */
    padding: 10px;
    border-radius: 3px;
    transition: background .2s ease-in;


}
.fa-bars:hover{
    background-color: rgb(17, 207, 240);

}






.small-nav{
    width: 80%;
    margin: 0 auto;
    height: 300px;
    /* display: none; */
    display: flex;
    justify-content: center;
    background: rgba(9, 228, 107, 0.781);
    position: fixed;
    left: 50%;
    transition: all .3s;
    top: -500px;
    transform: translate(-50%, 0);
    border-radius: 2px;
}

.sm-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    line-height: 25px;
}


.sm-ul li {
    width: 95%;
    border-radius: 3px;
    text-align: center;
}


.sm-ul li a{
    /* border: solid 1px rgb(9, 228, 108); */
    width: 100%;
    background-color: rgba(34, 45, 204, 0.945);
    display: block;
    padding: 10px;
   margin-top: 10px;
   transition: all .2s;
   color: var(--textcolorwh);
   font-size: 20px;
   font-weight: 600;
}

.sm-ul li a:hover{
    background-color: rgba(0, 183, 255, 0.719);

}




.header-content{
    height: 90%;
    /* background-color: aqua; */
    /* border: solid red; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    max-width: 1150px ;
    /* width: 100%; */
}


.header-content h1{
    font-size: 25px;
    color: var(--textcolorwh);
    font-family: 'Aldrich', sans-serif;

    
}

.header-content p{
    color: var(--textcolorwh);
    font-family: 'Grenze Gotisch', cursive;
    font-size: 19px;
}

.social-container{
    width: 99%;
    margin-top: 80px;
    height: 60px;
    /* border: solid red 1px; */
    display: flex;
    /* align-items: center; */
    justify-content: start;
    gap: 20px;
    flex-direction: column;

}

#learn ,#about{
    border: solid 1px gray;
    padding: 12px 20px;
    border-radius: 25px;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    background-color: rgba(0, 248, 54, 0.027);
    color: var(--textcolorwh);
    font-weight: 600;
}



#more{
    margin: 3px 8px;
    color: var(--navbarColor);
    font-weight: 600;
    border: solid 1px;
    transition: all .2s;
    padding: 2px;
    margin-top: 8px;
}


#more:hover{
    color: red;
}

#learn{
    background-color: var(--navbarColor);
}


#learn:hover{
    background-color: var(--navbarColor);
    
}


#about:hover{
    background-color: var(--navbarColor);

}



/* HEADER ⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫ */


.three-card-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: -130px;

}

.card-area{
    width: 100%;
    height: 400px;
    /* border: solid rgb(166, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1,.card2,.card3{
    width: 80%;
    height: 80%;
    /* border: solid black 1px; */
    /* display: flex;
    flex-direction: column; */
    border-radius: 3px;
    
}
.card a{
    display: flex;
    flex-direction: column;
    /* border:  solid green ; */
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: 85%;
    /* border: solid red ; */
    
}
.card{
    transition: all .3s;
    /* box-shadow: 1px 1px 5px var(--box-shadow); */
    max-width: 500px;
}
.card:hover{
    transform: scale(1.025);
}


.click-area{
    background-color: var(--navbarColor);
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.click-area p{
    color: var(--textcolorwh);
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    
}

.click-area p span{
    padding: 0 10px;
    margin-top: 8px;
    /* border: solid; */
    
}

.card1{
    

    background-image:
    linear-gradient(to bottom, #181818ec, #1b1b1bef),
    url('/IMGE/keyboard.jpg');
    
    background-size: cover;
}


.qote{
  text-align: center;
  padding: 10px;
  font-family: 'Aldrich', sans-serif;
    background: rgba(49, 49, 49, 0.562);
  font-size: 18px;
  color: var(--textcolorwh);
  font-weight: 600;
}

/* font-family: 'Aldrich', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Grenze Gotisch', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Wallpoet', cursive;


 */




.bio-ul{
    padding: 10px;
    line-height: 30px;
    color: var(--textcolorwh);
    padding: 10px;
}

.bio-ul li{
font-family: 'Fjalla One', sans-serif;
}

.bio-ul li i{
    font-size: 20px;
    margin: 0 5px;
    color: rgb(219, 216, 218);
}




.about-me-section,.section{
    width: 100%;
    background-color: var(--section-bg);
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0;

    background-image:
    linear-gradient(to bottom, #181818cc, #1b1b1bd0),
    url('https://t3.ftcdn.net/jpg/01/76/93/96/360_F_176939658_8zEA0BpFq1oYt9Nx19PRa8z87qk3Y8eW.jpg');
    
}

.about-left{
    width: 100%;
    /* border: solid; */
}



.about-text {
    color: var(--textcolorwh);
    padding: 20px;
    
}
.about-text h2{
    font-size: 35px;
 font-family: 'Aldrich', sans-serif;
 padding: 10px 0;

}

.about-text p{
    font-size: 18px;
    font-family: 'Aldrich', sans-serif;

}


.about-right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    /* border: solid; */

}

.about-image{
    height: 50%;
    width: 50%;
    /* border: dotted rgb(63, 63, 63) 1px; */
    overflow: hidden;
    border-radius: 30px;
}

    /* ABOUT ME END ⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫⏫ */



    .project-container ,.photo-container{
        display: flex;
        flex-direction: column;

        background-image:
    linear-gradient(to bottom, #18181862, #1b1b1bb0),
    url('/IMGE/probg.jpg');
    
    background-size: 100% 100%;
    background-repeat: no-repeat;

    }

    .upper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }


    .upper h1{
 font-family: 'Aldrich', sans-serif;
 color: var(--textcolorwh);
        
    }
    .middle{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        .cd{
            
            width: 100%;
            /* margin: 20px; */
            /* border: solid; */
            height: 350px;
            /* background-color: rgb(53, 182, 53); */
            display: flex;
            justify-content: center;
            /* margin: 5px; */
            align-items: center;
            margin-top: 20px;
            /* border-radius: 5px; */
        }

    .down{
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100px;
    }

    .down a{
        background-color: var(--navbarColor);
        padding: 10px 20px;
        border-radius: 3px;
        color: var(--textcolorwh);
        transition: all .2s;
        margin: 0 20px;
    }

    .down a:hover{
        background-color: aqua;
        padding: 10px 25px;
    }

    .pro{
        height: 95%;
        width: 90%;
        max-width: 300px;
        /* background: url("/IMGE/project-planning-header@2x.png"); */
        background-size: 100% 100%;
        background-repeat: no-repeat;

        background-image:
        
        url('https://wallpaperaccess.com/full/2138144.jpg');
        display: flex;
        justify-content: center;
        align-items: center;   
        border-radius: 5px;
        transition: all .2s;
        border: solid 1px;
    }

    .testy{
        background-image: url(/IMGE/testy-food.png);
    }

    .testy:hover{
       background-image:  linear-gradient(to bottom, rgba(0, 0, 255, 0.1356),#0000ff6b),
        url('/IMGE/testy-food.png');
        
    }

    .tesla{
        background-image: url(/IMGE/tesla.png);
    }

    .tesla:hover{
        background-image:  linear-gradient(to bottom, rgba(0, 0, 255, 0.1356),#0000ff6b),
        url('/IMGE/tesla.png');
    }
   

    .eduport{
        background-image: url(/IMGE/eduport.png);
    }

    .eduport:hover{
        background-image:  linear-gradient(to bottom, rgba(0, 0, 255, 0.1356),#0000ff6b),
        url('/IMGE/eduport.png');
    }


    .todo{
        background-image: url(/IMGE/todo.png);
    }
   

    .todo:hover{
        background-image:  linear-gradient(to bottom, rgba(0, 0, 255, 0.1356),#0000ff6b),
        url('/IMGE/todo.png');
    }

    .dashboard{
        background-image: url(/IMGE/dashboard.png);
    }

    .dashboard:hover{
        background-image:  linear-gradient(to bottom, rgba(0, 0, 255, 0.1356),#0000ff6b),
        url('/IMGE/dashboard.png');
    }


    .d2{
        background-image: url(/IMGE/fiverr.png);
    }

    .d2:hover{
        background-image:  linear-gradient(to bottom, rgba(0, 0, 255, 0.1356),#0000ff6b),
        url('/IMGE/fiverr.png');
    }





















     .pro h2{
        opacity: 0;
        color: rgb(255, 0, 0);
        font-size: 30px;
    }
    .pro:hover{
        transform: scale(1.020);
        /* background-image:
        linear-gradient(to bottom, rgba(0, 0, 255, 0.356),#0000ff6b),
        url('https://wallpaperaccess.com/full/2138144.jpg');
         */
    }

    .pro:hover.pro h2{
        opacity: 1;
    }






    .pho{

        height: 85%;
        width: 90%;
        max-width: 250px;
        /* background: url("/IMGE/project-planning-header@2x.png"); */
        background-size: 100% 100%;
        background-repeat: no-repeat;

        
        display: flex;
        justify-content: center;
        align-items: center;   
        border-radius: 5px;
        transition: all .2s;
        border: solid 1px;
    }

    .ph{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* border: solid; */
        gap: 10px;
    }


    .ph h2{
        color: var(--textcolorwh);
    }

hr{
    width: 100%;
    color: gray;
    height: 1px;
}


.photo-link{
    color: var(--textcolorwh);
}

.photo-link a{
    color: var(--navbarColor);
    padding: 0 5px;
}



 .pho h2{
        opacity: 0;
        color: rgb(94, 255, 0);
        font-size: 30px;
    }


    .pho:hover{
        transform: scale(1.020);
       
    }


    .pho1{
        background-image: url(/IMGE/IMG_20220627_185753_445.jpg);
    }



    .pho2{
        background-image: url(/IMGE/IMG_20220805_185524_463.jpg);

    }

    .pho3{
        background-image: url(/IMGE/IMG_20220830_101039_823.jpg);

    }

    .pho4{
        background-image: url(/IMGE/ZW8jSJqtMRBHbo2Mw9Fo--1--4vj0z.jpg);

    }

    .pho5{
        background-image: url(/IMGE/IMG_20221013_125557_68.jpg);

    }

    .pho6{
        background-image: url(/IMGE/IMG_20220803_163158_640.jpg);

    }


    .photo-container{
        background-image:
    linear-gradient(to bottom, #18181862, #1b1b1bb0),
    url('/IMGE/album\ bg.webp');
    }








    footer{
        width: 100%;
        /* border: solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        padding: 80px 0;
    }
    .footer-top{
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* border: solid greenyellow ; */
        gap: 10px;
        flex-wrap: wrap;
        border-bottom: solid gray;
        padding: 10px 0;
    }


    .footer-contact{
        display: flex;
        flex-direction: column;
        color: var(--textcolorwh);
    }

    .footer-contact a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--textcolorwh);
        padding: 3px 0;
        transition: all .3s;
    }
    
    .footer-contact a:hover{
        background: var(--navbarColor);

    }


    
    form p{
        color: var(--textcolorwh);
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }

    form input[type = text]{
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: none;
        outline: none;
        font-size: 15px;
        max-width: 400px;
    }



    form input[type = submit]{
        width: 100px;
        padding: 8px 10px;
        border: none;
        margin: 5px 0;
        color: var(--textcolorwh);
        background: var(--navbarColor);
    }


    #footer-logo{
        text-align: center;
    }

    .ftlg,.messege,.footer-contact{
        box-sizing: border-box;
        width: 50.1%;
    }





































    .footer-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        width: 90%;
    }

    .contact{
        /* border:  solid goldenrod; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .contact-ul,.copyright{
        max-width: 550px;
        
        /* border: solid; */
        justify-content: center;
        align-items: center;
        display: flex;   
    }


    .contact-ul{
        /* border: solid rebeccapurple; */
        justify-content: space-evenly;
        width: 90%;
    }


    .contact-ul li a i{
        font-size: 30px;
        color: var(--navbarColor);
    }

    .copyright{
        /* border: solid red; */
        width: 100%;
        margin: 0 auto;
    }
    .copyright p{
        color: var(--textcolorwh);
        margin-top: 20px;
        font-style: italic;
        font-size: 15px;
        padding: 5px 0 ;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }



    #footer-logo{
        color: var(--textcolorwh);
        font-size: 30px;
        padding: 20px 0;
    }
/* 

 font-family: 'Aldrich', sans-serif;
 font-family: 'Fjalla One', sans-serif;
 font-family: 'Grenze Gotisch', cursive;
 font-family: 'Lobster', cursive;
 font-family: 'Merienda One', cursive;
 font-family: 'Roboto', sans-serif;
 font-family: 'Teko', sans-serif;
 font-family: 'Wallpoet', cursive; */

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}